/* ================================================== GLOBAL */

:root {
    --light-blue: #a0a0cc;
    --blue: #254dbf;
    --dark-blue: #110a6c;
    --pale-blue: #5E599B;
    --sky-blue: #73aee2;
    --turquoize: #8de6e3;

    --nav-height: 100px;
    --footer-height: 100px;
    
    --font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

button, a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: .4s;
}

/* ================================================== LAYOUT */

.shrinked {padding-left: 7.5%; padding-right: 7.5%}
.spaced {padding-top: 50px; padding-bottom: 50px}

main {min-height: calc(100vh - var(--footer-height))}

/* ================================================== DISPLAY */

.flex, [class*="flex-"] {display: flex}

.flex-col {flex-direction: column}
.flex-rev {flex-direction: row-reverse}
.flex-col-rev {flex-direction: column-reverse}

.justify-center {justify-content: center}
.justify-end {justify-content: flex-end}
.justify-start {justify-content: flex-start}
.justify-around {justify-content: space-around}
.justify-between {justify-content: space-between}

.align-center {align-items: center}
.align-end {align-items: flex-end}
.align-start {align-items: flex-start}
.align-stretch {align-items: stretch}

.wrap {flex-wrap: wrap}
.wrap-reverse {flex-wrap: wrap-reverse}

/* ================================================== PRESETS */

.text-center {text-align: center}

.btn {
    padding: 15px 20px;
    font: 600 18px/1 var(--font);
    color: white;
    background: linear-gradient(to right, var(--turquoize) 0%, var(--sky-blue) 50%, var(--turquoize) 100%) center left no-repeat;
    background-size: 200%;
    border: none;
    border-radius: 30px;
}

.btn:hover {background-position: center right}

/* -------------------- Colors */

.white {color: white}
.white > svg {fill: white}

.dark-blue {color: var(--dark-blue)}

.bg-white {background-color: white}
.bg-gradient {background: linear-gradient(45deg, var(--dark-blue) 0%, var(--blue) 100%)}

.shadowed {box-shadow: 3px 3px 15px 0 rgba(0,0,0,0.05)}

/* ================================================== MULTIPLE */

/* -------------------- Headings */

h1 {
    font: 700 110px/1 var(--font);
}

h1 span {
    color: inherit;
    font: 300 50px/1 var(--font);
}

h1 + p {
    max-width: 25%;
    margin-top: 50px;
    font: 300 30px/1.25 var(--font);
}

h2 {
    font-size: 35px;
}

/* -------------------- Headers */

header .page-links {margin-top: 50px}
header .page-links a:not(:last-of-type) {margin-right: 10px}

/* ================================================== INCLUDES */

/* -------------------- Navtop */

#navtop {
    width: 100%;
    height: var(--nav-height);
    position: absolute;
    top: 0; left: 0;
}

#navtop #homelink svg {width: 175px}
#navtop a {color: inherit}
#navlinks span {margin: 0 5px}

.username-span {
    font-weight: bold;
    cursor:pointer;
}
.logout-span {
    font-weight: bold;
    cursor:pointer;
}
/* -------------------- Footer */

footer {
    height: var(--footer-height);
    box-shadow: 0 -5px 10px 0px rgba(0,0,0,0.05);
}

#footer-homelink:not(:hover) {opacity: .5}

#footer-homelink svg {
    height: 30px;
    fill: var(--light-blue);
}

footer #social h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer #social a {
    margin: 0 10px;
    font-size: 20px;
}

footer #social a:hover, footer #legal a:hover {color: var(--light-blue)}

/* ================================================== HOMEPAGE */

/* -------------------- Header */

#homepage-header {
    min-height: 100vh;
}

/* -------------------- Crypto table */

#crypto-table {
    width: 100%;
    padding: 30px;
    text-align: left;
}

#crypto-table table {
    width: 100%;
    border-collapse: collapse;
}

#crypto-table th {
    padding: 10px 0;
    font: 600 18px/1 var(--font);
}

#crypto-table td {
    padding: 10px 0;
    border-top: 1px solid var(--dark-blue);
}

#crypto-table tbody td:nth-of-type(2) {font: 300 italic 16px/1 var(--font)}

#crypto-table i[class^="evolution"] {
    width: 10px;
    height: 3px;
    margin-left: 10px;
    display: inline-block;
}

#crypto-table .evolution-up {background: lightgreen; transform: rotate(45deg)}
#crypto-table .evolution-stay {background: grey}
#crypto-table .evolution-down {background: red; transform: rotate(-45deg)}

#crypto-table .cryptoHover:hover {background-color: #e6e7ff; cursor: pointer}
/* -------------------- News display */

#news-display {margin: 30px 0 70px 0}

#news-display a {
    width: 32%;
    color: black;
}

#news-display a:hover {transform: scale(1.05)}

#news-display a img {
    width: 100%;
    height: 200px;
    background: #d0d0d0;
    object-fit: cover;
    object-position: center;
}

#news-display .news-infos {
    padding: 20px;
    line-height: 1.25;
}

#news-display a span {
    font: 300 12px/1.25 var(--font);
    opacity: .5;
}

#news-display a h3 {margin-bottom: 10px}

#show-news {
    margin: 0 auto;
    display: block;
}
.news-date {
    margin: 30px;
}

#news-article img {
    max-width: 100%;
}
/* ================================================== AUTHENTIFICATION */

#auth {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}

#auth section {
    width: 75%;
}

#auth-switch, #auth form {
    width: 50%;
    padding: 7.5%;
}

/* -------------------- Switch buttons */

#auth-switch {
    background: var(--pale-blue);
    border-radius: 30px 0 0 30px;
}

#auth-switch svg {max-width: 300px}

#auth-switch a {
    margin-top: 30px;
    font: 300 30px/1 var(--font);
}

/* -------------------- Form */

#auth form {
    border-radius: 0 30px 30px 0;
}

#auth h1 {
    margin-bottom: 100px;
    font: 700 50px/1 var(--font);
    color: var(--pale-blue);
    position: relative;
}

#auth h1::after {
    content: "";
    width: 75%;
    height: 2px;
    background: var(--light-blue);
    position: absolute;
    bottom: -15px;
    left: calc(25% / 2);
}

#auth form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid var(--light-blue);
    transition: border-color .4s;
}

#auth form input:focus {border-color: var(--dark-blue)}

#auth form button {width: 100%; margin-top: 50px}

/* ================================================== NEWS */

#news-article {
    width: 70%;
}

#news-nav {
    width: 25%;
}

#news p.excerpt {
    margin-bottom: 20px;
    font: 500 20px/1.25 var(--font);
    opacity: .3;
}

#news-article h2 {margin-bottom: 20px}
#news-article h2:not(:first-of-type) {margin-top: 20px}

#news-article h3 {margin-bottom: 10px}
#news-article :not(h2) + h3 {margin-top: 15px}

#news-article ul {
    margin: 10px 0 10px 30px;
}


/* ================================================== CHART */
.button-chart {
    display: flex;
    justify-content: center;
}

.infos-chart-container {
    display: flex;
    justify-content: center;
}

.infos-chart {
    display:flex;
    max-width: 800px;
    width:100%;
    justify-content: space-around;
}

.button-chart span {
    margin: 5px 3px;
    padding:5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
}

.selected {
    margin: 5px 3px;
    padding:5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: lightgray !important;
}

.loader-container {
    display: flex;
    position: absolute;
    height:300px;
    margin-top: -450px;
    margin-left: calc(50% - 212px);
    justify-content: center;
}


/* ================================================== PROFILE */

.profile-container {

}

.select-profil {
    width:200px;
}

/* ================================================== 404 NOT FOUND */

#page-not-found h1 {line-height: .5}

#page-not-found a {
    margin-top: 30px;
    text-decoration: underline;
}

#page-not-found a:hover {color: var(--light-blue)}
